{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}
  <h1>Übersicht</h1>
    <p><a href="/vixratio">VIX / VXV Verhältnis</a></p>

{% endblock %}
{% block footer %}
      <ul>
        <li><b><a href="/main">Main</a></b></li>
          <ul>
              <li><a href="/vixratio">VIX / VXV</a></li>
          </ul>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/about">About</a></li>
      </ul>
{% endblock %}