{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
{% block content %}
  <h1>VIX und VXV Verhältnis</h1>
  <p>Der Chart zeigt das Verhältnis des VIX zum VIX3M (VXV). Der VIX (CBOE Volatility Index) zeigt die Schwankungsbreite des S&P 500 Aktienindex.
  Der VIX3M zeigt wie der VIX die Schwankungsbreite, allerdigns über 3 Monate.</p>
  <p class="important">
    Schlusskurs am: {{ date }} <br>
    VIX : {{ vix }} <br>
    VXV : {{ vxv }}
    <div id="chart_div"></div>
{% endblock %}
{% block footer %}
      <ul>
        <li><a href="/main">index</a></li>
          <ul>
              <li><b><a href="/vixratio">VIX / VXV</a></b></li>
          </ul>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
      <script>

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();

      data.addColumn('string', 'Date');
      data.addColumn('number', 'VIX/VXV');
      data.addColumn('number', "VIX");
      data.addColumn('number', "VXV");
      data.addRows([
        {{ data |safe }}
      ]);

      var options = {
         series: {
              0: {targetAxisIndex: 0},
              1: {targetAxisIndex: 1},
              2: {targetAxisIndex: 1}
        },
        vAxes: {
          // Adds titles to each axis.
          0: {title: 'VIX/VXV',
          ticks: [0.6,0.7,0.8,0.9,1.0,1.1,1.2]
          },
          1: {title: 'VIX'},
          2: {title: 'VXV'}
        },
        hAxis: {
          title: 'Datum'

        },
        height : 500,
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }

      </script>
{% endblock %}